/*! Leandro Ross | CSS | MIT License */
/* version */
.version::after {
  content: "0.0.14";
}
.notes blockquote p {
    margin: auto !important;
}
.notes p {
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    margin: 22px 0!important;
}
ul li, ol li {
    margin-top: 2rem;
}
.section-header {
    padding: 1rem .5rem;
    top: 0;
    width: 100%;
    z-index: 200;
}

.bg-gray {
    background: #f8f9fa;
    color: #667189;
    padding: 1rem;
}    

.grid-header .navbar-brand {
    color: #50596c;
}

.grid-header .btn-link {
    color: #667189;
    padding-left: .6rem;
    padding-right: .6rem;
}
.grid-header .btn-link:focus, .grid-header .btn-link:hover, .grid-header .btn-link:active {
    color: #50596c;
    opacity: .75;
}

.notes {
    margin: 4rem 0;
}

/* Menu Mobile */
@media screen and (max-width: 600px) {
    .docs-sidebar {
        background: #fff;
        height: 100%;
        left: 0;
        overflow-y: auto;
        padding: 6rem 3rem;
        position: fixed;
        top: 0;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: transform .2s ease, -webkit-transform .2s ease;
        transition: transform .2s ease;
        transition: -webkit-transform .2s ease;
        width: 24rem;
        z-index: 400;
    }
    .docs-sidebar:target {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        transition: transform .2s ease, -webkit-transform .2s ease;
        transition: transform .2s ease;
        transition: -webkit-transform .2s ease;
    }
    .docs-sidebar:target + .docs-nav-clear {
        display: block;
    }
    .docs-nav-clear {
        background: rgba(0, 0, 0, .15);
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 300;
    }
    .time {
        width: 100%;
    }
}