        <div id="sidebar" class="docs-sidebar column col-3 col-sm-12">
        <!--
            <ul class="docs-nav nav">
                <li class="nav-item active">
                    <a href="#menu">Menu</a>
                    <ul class="nav">
                        <li class="nav-item"><a href="#sub-menu">sub-menu</a></li>
                    </ul>
                </li>
            </ul>
            -->
            <div class="panel">
                <div class="panel-header text-center">
                    <figure class="avatar avatar-xl">
                        <img src="//graph.facebook.com/100003367970652/picture?width=100&height=100" alt="avatar">
                    </figure>
                    <div class="panel-title mt-10">Leandro Ross</div>
                    <div class="panel-subtitle">"Churupim"</div>
                </div>
            </div>            
        </div>
        <a href="#sidebar-close" id="sidebar-close" class="docs-nav-clear" title="Close Sidebar"></a>

        <div class="divider-vert hide-sm"></div>